{%extends "student-base.html" %}

{% block title %} Dashboard{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{%block content%}

<div class="w3-container w3-padding-16">

    <div class="">

        <div class="w3-row-padding">
            <div class="w3-col l8 m8 w3-margin-bottom">
                <div class="dashboard-banner">
                    <div class="banner-content">
                        <div class="w3-row">
                            <div class="w3-twothird">
                                <div class="w3-left w3-padding-16">
                                    <h3 class="main-header" style="color: #ffffff;font-weight: 700;">Hey, {{user.name}}
                                        &#128075;
                                    </h3>
                                    <h5 style="color: #ffffff;">It's Good To See You Again!</h5>
                                    <a href="#" class="w3-btn w3-white w3-hover-white w3-round-large">Explore
                                        Courses</a>
                                </div>
                            </div>
                            <div class="w3-third" style="display: flex;justify-content: center;">
                                <img style="height: 136px; width: auto;object-fit: cover;"
                                    src="{{ url_for('static', filename='images/student/student.png') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w3-col l4 m4 w3-margin-bottom">
                <div class="w3-row">
                    <div class="w3-half dashboard-card">
                        <div class="content">
                            <div class="card-header">00</div>
                            <div class="card-body">Courses Completed</div>
                        </div>
                    </div>
                    <div class="w3-half dashboard-card">
                        <div class="content">
                            <div class="card-header">00</div>
                            <div class="card-body">Certificates Earned</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Enrolled courses -->
        {%- for category, message in get_flashed_messages(with_categories = true) %}
        <div class= "alert alert-danger w3-center w3-text-green">
            <div class="w3-panel">
                <h3>{{ message }}</h3>
            </div>
        </div>
        {%- endfor %}
        <div class="w3-row-padding">
            <div>
                <h5 class="w3-left">Enrolled courses</h5>
            </div>
            {% for enrolledcourse in enrolledcoursesList%}
            <div class="w3-section">
                <!-- Slider main container -->
                <div class="swiper w3-padding-24 w3-padding-small w3-stretch">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="card-courses">
                                <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                                <h6 class="w3-large" style="font-weight: 500;">{{enrolledcourse.course.course_name}}</h6>
                                <p>{{ enrolledcourse.completed_sections }}/{{ enrolledcourse.course.sections|length }} sections completed</p>
                                <div class="w3-section w3-light-grey w3-tiny"
                                    style="border-radius: 100px; height: 8px;">
                                    <div class="w3-container"
                                        style="background-color: #6E44FF; height:8px; color: #ffffff; border-radius: 100px; width:{{ (enrolledcourse.completed_sections/enrolledcourse.course.sections|length)*100 }}%">
                                    </div>
                                </div>
                                <a href="{{ url_for('course', course_id = enrolledcourse.course.id, lecture_id=enrolledcourse.course.sections[0].lectures[0].id) }}" style="margin-top:4px" class="w3-btn w3-round-large w3-black">Continue</a>
                            </div>
                        </div>   
                    </div>
                    <!-- If we need pagination -->
                    <div class="w3-section swiper-pagination"></div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Enrolled course template ends here -->
        <!-- courses in progress starts here -->
        <div class="w3-row-padding">
            <div>
                <h5 class="w3-left">Available courses</h5>
            </div>
            {% for course in available %}
            <div class="w3-section">
                <!-- Slider main container -->
                <div class="swiper w3-padding-24 w3-padding-small w3-stretch">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <a href="{{ url_for('course', course_id = course.id, lecture_id=course.sections[0].lectures[0].id) }}">
                            <div class="card-courses">
                                <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                                <h6 class="w3-large" style="font-weight: 500;">{{course.course_name}}</h6>
                                <!-- {{course.course_description}} <br><br> -->
                                <i class="far fa-clock"></i> {{course.course_duration}} hours<br>
                                Price : ₹{{course.course_price}}/-<br>
                                <a href="{{ url_for('course_enroll', cid = course.id) }}" style="margin-top:4px"
                                    class="w3-btn w3-round-large w3-black">Enroll</a>
                            </div>
                            </a>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="w3-section swiper-pagination"></div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- courses in progress ends here -->
    </div>


    {% block customjs %}
    <!-- swiper js -->
    <!-- <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script> -->

    <!-- cutom js -->
    <script type="module" src="{{ url_for('static', filename='js/dashboard/student/swiper.js') }}"></script>
    {% endblock %}

    {% endblock %}