{%extends "base.html" %}

{% block title %} Student Details{% endblock %}

{%block content%}
<form method='POST' action="">
    <table>
        <tr>
            <td><label for='roll_no'>Roll Number</label></td>
            <br>
            <td><input type="text" id="roll_no" name="roll_no"></td>
        </tr>
        <br>
        <tr>
            <td><label for = 'mobile_num'>Mobile Number</label></td>
            <br>
            <td><input type="text" id="mob_num" name="mobile_num"></td>
        </tr>
        <br>
        <tr>
            <td><label for = 'dob'>Date of birth</label></td>
            <br>
            <td><input type="date" id ="dob" name="date_of_birth"></td>
        </tr>
        <br>
        <tr>
            <td><label for="stud_bio">Student Bio</label></td>
            <br>
            <td><textarea id="stud_bio" rows='3' cols='50'></textarea></td>
        </tr>
    </table>
    <button type="submit" value='Submit'>Submit</button>
</form>



{% endblock %}