{%extends "base.html" %}

{% block title %} Contact Us{% endblock %}


{% block customcss %}
    <!-- Replace this block with custom css exclusive to your page. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    {% endblock %}
{%block content%}

<div class="w3-container w3-padding-32">
<h1 class="w3-center w3-padding-32" >Contact Us</h1>

<div class="w3-display-container w3-stretch" style="height:100vh;margin-top:24px">

  <form action="{{url_for('submit')}}" class="w3-display-middle">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">
    <br>

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    <br>
    <label for="lname">Email</label>
    <input type="text" id="lname" name="email" placeholder="Your email..">
    <br>


    <label for="country">Country</label>
    <select id="country" name="country">
        <option value="usa">select</option>
        <option value="usa">India</option>
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>
    <br>
    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    <br>
    <br>
    <input class="w3-button w3-block w3-round-xxlarge w3-black w3-hover-black" type="submit"  onclick="alert('Changes may not save. Do you want to submit? ')" value="Send Message">
  </form>
</div>
</div>


{% endblock %}
