<div class="w3-section">
    <div>
        <h5 class="tab-content-header">Course Content</h5>
        <div class="w3-section">
            {% for section in course.sections %}
            <details {% if section.id == current_section_id %} open {% endif %} >
                <summary>
                    <span style="font-weight: 500;">{{section.section_title}}</span>
                    <!-- <span style="float: right;font-size: small;">{{ section.lectures | length }} {% if section.lectures
                        | length > 1 %}lectures{% else %}lecture{% endif %}</span> -->
                </summary>
                <div>
                    {% for lecture in section.lectures %}
                    <p class='{{"lecture-active" if lecture.id == current_lecture_id else "lecture-inactive"}}' style="font-weight: 400;"><i class="bi bi-caret-right"></i>&ensp;
                        <a class="lecture-link" href="{{url_for('course_page', course_id=course.id, section_id=section.id, lecture_id=lecture.id)}}">{{lecture.lecture_title}}</a>
                        <span style="float: right;font-weight:400;font-size: small;">{{ lecture.lecture_duration
                            }}m</span>
                    </p>
                    {% endfor %}
                </div>
            </details>
            {% endfor %}
        </div>
        <br />
    </div>
</div>