<div class="w3-section">
    <h4>Contents</h4>
    <div class="w3-section main-box">
        {% for content in range(1,6)%}
            <div class="content-box">
                <button onclick="handleCourseContent('Demo{{content}}')" class="content-box-btn w3-block w3-left-align">{{content}}. Section Title</button>
                <div id="Demo{{content}}" class="w3-hide content-box-content w3-animate-opacity">
                    {% for item in range(1,5) %}
                        <a href="#" class="content-box-content-item">
                            <div>
                                <i class="bi bi-caret-right"></i>
                            </div>
                            <div class="w3-margin-left">
                                <div>Content title goes here...</div>
                                <div class="w3-text-gray w3-small">49m</div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>