{%extends "base.html" %}

{% block title %} Become a Faculty{% endblock %}
{% block customcss %}
    <!-- Replace this block with custom css exclusive to your page. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home/signup.css') }}">
{% endblock %}

{%block content%}

<div class="w3-container">
  <div class="w3-row" style="min-height: 100vh;">
    <div class="container w3-padding-32">
      <h1 class="w3-xxlarge w3-center w3-hide-small" style="letter-spacing: -1px; font-weight: 700;">
        Join O-Learn's Global Community of Expert Instructors
      </h1>
      <h1 class="w3-xlarge w3-center w3-hide-large w3-hide-medium" style="letter-spacing: -1px; font-weight: 500;">
        Join O-Learn's Global Community of Expert Instructors
      </h1>
      <p class="w3-center">Build your brand by developing courses you want and train future leaders from the comfort of your home.</p>
    </div>

    <div class="w3-container" style="display: flex;justify-content: center;">
      <div class="w3-mobile">
        <form class="w3-white" method="POST">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                  <div class="w3-text-red w3-center">
                      {% for message in messages %}
                        <div>{{ message }}</div>
                      {% endfor %}
                  </div>
              {% endif %}
            {% endwith %}
            <div style="margin-bottom: 8px;">
              <label for="full-name">Full Name</label>
              <input type="text" placeholder="Your full name" name="name" id="first name" required>              
            </div>
            <div style="margin-bottom: 8px;">
              <label for="email">Email Address</label>
              <input type="text" placeholder="Your email" name="email" id="email" required>
            </div>
            <div style="margin-bottom: 8px;">
              <label for="psw">Password</label>
              <input type="password" placeholder="Enter password" name="password" id="psw" required>
            </div>
            <!-- <div style="margin-bottom: 8px;">
              <label for="psw-repeat">Repeat Password</label>
              <input type="password" placeholder="Repeat password" name="psw-repeat" id="psw-repeat" required>
            </div> -->
            <div style="margin-bottom: 8px;">
              <input class="checkbox" type="checkbox">
              <label> &ensp;I acknowledge and agree with all terms and services.
              </label>
            </div>
            <div class="w3-padding-16">
              <input type="submit" class="w3-button w3-block w3-round-large w3-padding w3-large w3-black w3-hover-black w3-section" value="Sign Up For Free">
            </div>
        </form>
        <div class="w3-center">
          <p>Already have an account? <a class="form-link" href="{{ url_for('login') }}"><b>Sign in</b></a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
