{%extends "base.html" %}

{% block title %} Login{% endblock %}
{% block customcss %}
    <!-- Replace this block with custom css exclusive to your page. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home/signup.css') }}">
{% endblock %}


{%block content%}

<div class="w3-container">
    <div class="container w3-padding-32">
      <h1 class="w3-xxlarge w3-center w3-hide-small" style="letter-spacing: -1px; font-weight: 700;">
        Welcome Back, Login To Continue!
      </h1>
      <h1 class="w3-xlarge w3-center w3-hide-large w3-hide-medium" style="letter-spacing: -1px; font-weight: 500;">
        Welcome Back, Login To Continue!
      </h1>
    </div>
    <h4 class="w3-center">Login as</h4>
    <div class="w3-margin-bottom w3-padding-24" style="display: flex;justify-content: center;">
        <div class="w3-row-padding">
          <div class="w3-half w3-padding w3-section" style="display: flex;justify-content: center;">
            <a href="{{ url_for('student_login') }}">
              <div class="signup-card w3-display-container" style="background-color: #6E44FF; color: #ffffff;">
                <div class="w3-display-middle w3-center">
                  <div class="signup-card-icon w3-display-container" style="background-color: #ffffff; color: #6E44FF;">
                    <i class="w3-large w3-display-middle bi bi-book-fill"></i>
                  </div>
                  Student
                </div>
              </div>
            </a>
          </div>
          <div class="w3-half w3-padding w3-section" style="display: flex;justify-content: center;">
            <a href="{{ url_for('faculty_login') }}">
              <div class="signup-card w3-display-container" style="background-color: #FC6404; color: #ffffff;">
                <div class="w3-display-middle w3-center">
                  <div class="signup-card-icon w3-display-container" style="background-color: #ffffff;color: #FC6404;">
                    <i class="w3-large w3-display-middle bi bi-people-fill"></i>
                  </div>
                  Faculty
                </div>
              </div>
            </a>
          </div>
        </div>
    </div>
  </div>
  {% endblock %}