{%extends "base.html" %}

{% block title %} Programs{% endblock %}


{% block customcss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home/programs.css') }}">
{% endblock%}

{%block content%}

<!-- top banner-->
<div class="w3-container">
    <img class="w3-animate-opacity" style=" width: 100%; height: 250px;" src="{{url_for('static', filename='images/banner.jpg')}}">
</div>

<div class="w3-container w3-padding-32">
    <h1 class="w3-center">Available Programs</h1>
    <hr>
</div>
<!-- top banner ends-->


<!-- First row cards start here...-->
<div class="row w3-padding-large">
  <div class="columnmob w3-third w3-container">
    <div class=" w3-animate-zoom w3-card-2 w3-hover-shadow" style="border-radius: 15px;">
            <div>
                <img src="{{url_for('static', filename='images/data_science.jpg')}}" style=" border-top-left-radius: 15px; border-top-right-radius: 15px; height: 150px; width: 100%" alt="Data_science">
            </div>
             <div class="w3-container w3-center">
                <h4 style=" font-weight: 500; text-align: left;">Data Science</h4>
                <p class="w3-text-grey" style=" font-size: 14px; font-weight: 250; text-align: justify;">Learn what data science is, the various activities of a data scientist’s job, and methodology to think and work like a data scientist.</p>
                <a href="{{ url_for('data_science_course') }}" style="text-decoration: none; margin-top: 5px; margin-bottom: 5px; margin-right: 0px; margin-left: 10px;" class=" zoom w3-section w3-button w3-tiny w3-round-xxlarge w3-white w3-border w3-border-black w3-hover-black w3-ripple w3-right"> <div class="w3-bar-item">Learn more →</div> </a>
            </div>
    </div>
  </div>

  <div class="columnmob w3-third w3-container">
    <div class=" w3-card-2 w3-animate-zoom w3-hover-shadow" style="border-radius: 15px;">
            <div>
                <img src="{{url_for('static', filename='images/full_stack.jpg')}}" style=" border-top-left-radius: 15px; border-top-right-radius: 15px; height: 150px; width: 100%" alt="Full_Stack">
            </div>
             <div class="w3-container w3-center">
                <h4 style=" font-weight: 500; text-align: left;">Full-Stack Programming</h4>
                <p class="w3-text-grey" style=" font-size: 14px; font-weight: 250; text-align: justify;">Learning to code is the first step in starting a career as a full-stack programmer. Enroll in our programme and get started today!</p>
                <a href="{{ url_for('programming_course') }}" style="text-decoration: none; margin-top: 5px; margin-bottom: 5px; margin-right: 0px; margin-left: 10px;" class="zoom w3-button w3-section w3-tiny w3-round-xxlarge w3-white w3-border w3-border-black w3-hover-black w3-ripple w3-right"> <div class="w3-bar-item">Learn more →</div> </a>
            </div>
    </div>
  </div>
  
  <div class=" columnmob w3-third w3-container">
    <div class=" w3-card-2 w3-animate-zoom w3-hover-shadow" style="border-radius: 15px;">
            <div>
                <img src="{{url_for('static', filename='images/ai.jpg')}}" style=" border-top-left-radius: 15px; border-top-right-radius: 15px; height: 150px; width: 100%" alt="Artificial_Intelligence">
            </div>
             <div class="w3-container w3-center">
                <h4 style=" font-weight: 500; text-align: left;">Artificial Intelligence</h4>
                <p class="w3-text-grey" style=" font-size: 14px; font-weight: 250; text-align: justify;">AI is not only for engineers. If you want your organization to become better at using AI, this is the course to tell everyone.</p>
                <a href="{{ url_for('artificial_intelligence_course') }}" style="text-decoration: none; margin-top: 5px; margin-bottom: 5px; margin-right: 0px; margin-left: 10px;" class=" zoom w3-button w3-tiny w3-section w3-round-xxlarge w3-white w3-border w3-border-black w3-hover-black w3-ripple w3-right"> <div class="w3-bar-item">Learn more →</div> </a>
            </div>
    </div>
  </div>
  
</div>
<!-- First row cards end here...-->





<!-- Second row Card star..-->

<div class="row w3-padding-large">
  <div class=" columnmob w3-third w3-container">
    <div class=" w3-card-2 w3-animate-zoom w3-hover-shadow" style="border-radius: 15px;">
            <div>
                <img src="{{url_for('static', filename='images/cloud.jpg')}}" style=" border-top-left-radius: 15px; border-top-right-radius: 15px; height: 150px; width: 100%" alt="Cloud_computing">
            </div>
             <div class="w3-container w3-center">
                <h4 style=" font-weight: 500; text-align: left;">Cloud Computing</h4>
                <p class="w3-text-grey" style=" font-size: 14px; font-weight: 250; text-align: justify;">We will delve into storage services, Cloud economics, levels of managed infrastructure, and Azure services. Enroll today!</p>
                <a href="{{ url_for('cloud_computing_course') }}" style="text-decoration: none; margin-top: 5px; margin-bottom: 5px; margin-right: 0px; margin-left: 10px;" class=" zoom w3-button w3-section w3-tiny w3-round-xxlarge w3-white w3-border w3-border-black w3-hover-black w3-ripple w3-right"> <div class="w3-bar-item">Learn more →</div></a>
            </div>
    </div>
  </div>

  <div class="columnmob w3-third w3-container">
    <div class=" w3-card-2 w3-animate-zoom w3-hover-shadow" style="border-radius: 15px;">
            <div>
                <img src="{{url_for('static', filename='images/block.jpg')}}" style=" border-top-left-radius: 15px; border-top-right-radius: 15px; height: 150px; width: 100%" alt="Blockchain">
            </div>
             <div class="w3-container w3-center">
                <h4 style=" font-weight: 500; text-align: left;">Blockchain</h4>
                <p class="w3-text-grey" style=" font-size: 14px; font-weight: 250; text-align: justify;">Understand smart contracts, a core idea and computational model of blockchain that enables automation and transparency. Enroll today!</p>
                <a href="{{ url_for('blockchain_course') }}" style="text-decoration: none; margin-top: 5px; margin-bottom: 5px; margin-right: 0px; margin-left: 10px;" class=" zoom w3-button w3-tiny w3-section w3-round-xxlarge w3-white w3-border w3-border-black w3-hover-black w3-ripple w3-right"> <div class="w3-bar-item">Learn more →</div> </a>
            </div>
    </div>
  </div>
  
  <div class="columnmob w3-third w3-container">
    <div class=" w3-card-2 w3-animate-zoom w3-hover-shadow" style="border-radius: 15px;">
            <div>
                <img src="{{url_for('static', filename='images/qnt.jpg')}}" style=" border-top-left-radius: 15px; border-top-right-radius: 15px; height: 150px; width: 100%" alt="Quantum Computing">
            </div>
             <div class="w3-container w3-center">
                <h4 style=" font-weight: 500; text-align: left;">Quantum Computing</h4>
                <p class="w3-text-grey" style=" font-size: 14px; font-weight: 250; text-align: justify;">This specialization will open the door to the world of quantum technology. You will learn about the principles of quantum computing. Enroll now!</p>
                <a href="{{ url_for('quantum_computing_course') }}" style="text-decoration: none; margin-top: 5px; margin-bottom: 5px; margin-right: 0px; margin-left: 10px;" class=" zoom w3-button w3-section w3-tiny w3-round-xxlarge w3-white w3-border w3-border-black w3-hover-black w3-ripple w3-right"> <div class="w3-bar-item">Learn more →</div> </a>
            </div>
    </div>
  </div>
</div>

{% endblock %}