{%extends "base.html" %}

{% block title %} Login{% endblock %}


{% block customcss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home/login.css') }}">
{% endblock%}


{%block content%}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="w3-container w3-padding-32">
    <div class=" w3-padding-32 w3-display-container" style="height:75vh" >
        <div class=" w3-display-middle">
            
                            
                    <form class="box" method="post">

                    <h3>Login as {{role}}</h3>           
                    <label class="form-label" for="inputEmail">Email</label>
                    <input type="email" class="form-control w3-round-xxlarge" id="inputEmail" name="email" placeholder="Email" required> 
                    <label class="form-label" for="inputPassword">Password</label>
                    <input type="password" class="form-control w3-round-xxlarge" id="inputPassword" name="password" placeholder="Password" required>   
                    <br>        
                    <button type="submit" class="w3-button w3-section w3-block w3-large w3-round-xxlarge w3-hover-indigo" style="background-color:#6E44FF;color:#FFFFFF">Log in</button>
                  
                    </form>                                       
            
        </div>
    </div>
</div>

{% endblock %}