#section-form input[type="text"],
input[type="url"],
input[type="number"],
textarea[type="text"] {
  display: block;
  padding: 6px 12px;
  width: 100%;
  outline: none;
  transition: 0.25s;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  background: #ffffff;
}

#section-form input[type="text"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
textarea[type="text"]:focus {
  border: 1px solid rgb(110, 68, 255, 0.5);
  transition: 0.3s;
  outline: none;
}

#lection-form input[type="url"],
input[type="number"],
textarea[type="text"] {
  display: block;
  padding: 6px 12px;
  width: 100%;
  outline: none;
  transition: 0.25s;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  background: #ffffff;
}

div.input input[type="text"] {
  display: block;
  padding: 6px 12px;
  width: 100%;
  outline: none;
  transition: 0.25s;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  background: #ffffff;
}

#input-box input[type="text"] {
  display: block;
  padding: 6px 12px;
  width: 100%;
  outline: none;
  transition: 0.25s;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  background: #ffffff;
}

#lection-form input[type="text"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
textarea[type="text"]:focus {
  border: 1px solid rgb(110, 68, 255, 0.5);
  transition: 0.3s;
  outline: none;
}

div.input input[type="text"]:focus {
  border: 1px solid rgb(110, 68, 255, 0.5);
  transition: 0.3s;
  outline: none;
}


#input-box input[type="text"]:focus {
  border: 1px solid rgb(110, 68, 255, 0.5);
  transition: 0.3s;
  outline: none;
}

.add-section-btn,
.add-lecture-btn {
  background-color: #ffffff;
  padding: 8px 16px;
  border: 1px solid #f7f5ff;
  color: #6e44ff;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.submit-btn {
  background-color: #6e44ff;
  padding: 8px 16px;
  border: none;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
}

.submit-btn:disabled {
  opacity: 0.3;
}

.main-box {
  width: 60%;
}
@media only screen and (max-width: 740px) {
  .main-box {
    width: 100%;
  }
}

.section-box,
.lecture-box {
  margin-top: 16px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding: 8px 8px;
}

.section-container {
  background-color: #ffffff;
  border: none;
  border-radius: 16px;
  padding: 8px 16px;
}

.lecture-main-box {
  width: 100%;
}

.lecture-container {
  background-color: #ffffff;
  border: none;
  border-radius: 16px;
  padding: 0px 8px;
}

.accordion {
  height: 50px;
  margin-top: 16px;
  background-color: #f6f2ff;
  color: #6e44ff;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 14px;
  position: relative;
  cursor: pointer;
}

.title {
  font-size: large;
  font-weight: 500;
}

.info {
  width: 100%;
  height: 0;
  background-color: transparent;
  color: #000;
  display: flex;
  align-items: center;
  padding: 0 14px;
  position: relative;
  overflow: hidden;
  border: 0;
  transition: height 0.4s;
}
.info.reveal {
  width: 100%;
  height: auto !important;
  border: 1px solid #f6f2ff;
  border-radius: 0 0 10px 10px;
  transition: height 0.4s;
  overflow-y: visible;
}
.accordion.radius {
  border-radius: 10px 10px 0 0;
}


.accordionWrapper {
  background: #fff;
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.accordionItem {
  float: left;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.accordionItemHeading {
  cursor: pointer;
  margin: 0px 0px 10px 0px;
  padding: 8px 16px;
  background: #1E1926;
  color: #ffffff;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
}
.close .accordionItemContent {
  height: 0px;
  transition: height 1s ease-out;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  float: left;
  display: block;
}
.open .accordionItemContent {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 100%;
  margin: 0px 0px 10px 0px;
  display: block;
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;

  -webkit-transition: -webkit-transform 0.4s ease-out;
  -o-transition: -o-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease;
  box-sizing: border-box;
}

.open .accordionItemHeading {
  margin: 0px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #1E1926;
  color: #ffffff;
}

.delete-course-btn {
  background-color: transparent;
  border: 1px solid red;
  color: red;
  font-weight: 600;
  border-radius: 100px;
  padding: 12px 20px;
  cursor: pointer;
}

.archive-course-btn {
  background-color: #1E1926;
  border: 1px solid #1E1926;
  color: #ffffff;
  font-weight: 600;
  border-radius: 100px;
  padding: 12px 20px;
  cursor: pointer;
  margin-left: 8px;
}

.save-course-btn {
  background-color: #6e44ff;
  border: 1px solid #6e44ff;
  color: #ffffff;
  font-weight: 600;
  border-radius: 100px;
  padding: 12px 20px;
  cursor: pointer;
  margin-left: 8px;
}
