{%extends "faculty-base.html" %}

{% block title %} Add Question{% endblock %}

{% block customcss %}{% endblock %}

{%block content%}

<div class="w3-container w3-padding-16">
    <h2> Add Question </h2>

    <form method="POST">
        <label>Choose Quiz</label>
        <select name="quiz_id">
        <option value="">--Please choose quiz--</option>
        {%for quiz in quizzes%}
            <option value="{{quiz.id}}">{{quiz.quiz_title}}</option>
        {%endfor%}
        </select><br>
        <label >Question Text</label><br>
        <input type="text"  name="question_text" ><br>
        <label >Option 1</label><br>
        <input type="text"  name="option_one" ><br>
        <label >Option 2</label><br>
        <input type="text"  name="option_two" ><br>
        <label >Option 3</label><br>
        <input type="text"  name="option_three" ><br>
        <label >Option 4</label><br>
        <input type="text"  name="option_four" ><br>
        <label >Answer</label><br>
        <input type="text"  name="answer" ><br>

        <input type="submit" value="Submit">
        
      </form><br><br>
    <div>
        {% for question in questions %}
            {{question.quiz.quiz_title}}<br>
           {{question.question_text}}<br>
           Options: {{question.option_one}},  {{question.option_two}},  {{question.option_three}},  {{question.option_four}}<br>
           Answer: {{question.answer}}<br>
        {% endfor %}
    </div>
</div>


{% block customjs %}{% endblock %}

{% endblock %}