p, h2, h3, h4, h5, h6{
    font-weight: 300;
}

/* .course-banner{
    height: 20vw;
    width: 100vw;
} */

.course-banner-image{
    filter: brightness(75%) !important;
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.course-banner-text{
    font-size: 3.5rem;
    font-weight: 300 !important;
}

.course-side-nav{
    float: left;
    width: 15vw;
    top: 8vw;
    position: sticky !important;
}

.course-side-nav button{
    width: 100%;
}

.course-detail-card{
    float: right;
    width: 80%;
    top: 5vw;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .course-detail-card{
        width: 95vw !important;
        margin-left: 0 !important;
        padding-left: 0 !important;
    }

    .course-banner-image{
        /* filter: brightness(75%) !important;
        height: 40vh;
        width: 100%;
        object-fit: cover; */
        height: 60vh;
    }

    .course-banner-text{
        font-size: 2rem;
        /* font-weight: 300 !important; */
        margin: 0 !important;
    }

    .course-banner-time, .course-banner-button{
        margin: 0 !important;
    }
    
    #syllabus, #prerequisites, #tutors{
        margin: 0 !important;
    }

}