.container {
    padding: 8px 86px;
}
@media only screen and (max-width: 600px) {
    .container {
        padding: 8px 0px;
    }
  }

.card {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 32px;
    border-radius: 16px;
}

