.container {
    padding: 8px 96px;
}
@media only screen and (max-width: 740px) {
    .container {
        padding: 8px 0px;
    }
  }

.card-home {
    padding: 36px 24px;
    border-radius: 16px;
}

.card-home:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 50px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #000000;
    font-weight: 500;
    outline: none;
  }
 