


/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding:  10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .columnmob {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
