/* Style the counter cards */
.container {
  padding: 8px 86px;
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 8px 0px;
  }
}

.card {
  padding: 24px;
  border-radius: 36px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 12px;
  text-align: center;
}
/*card_contents*/

.cardimage {
  height: 150px;
  width: 150px;
  margin-top: 16px;
}

.name {
  margin-top: 1rem;
  justify-content: center;
}

.title {
  justify-content: center;
}

.description {
  text-align: center;
  font-style: italic;
}
