body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
}

.nav-shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
}

.menu-item:hover {
  color: #6e44ff;
  font-weight: 700;
}

.card {
  padding: 24px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 50px;
}