{%extends "faculty-base.html" %}

{% block title %} {{course.course_name}} - Add Lecture{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/faculty/course.css') }}">
{% endblock %}

{%block content%}


<div class="w3-container w3-padding-16" style="margin-bottom: 48px;">
    <h3 style="font-weight: 600;">{{course.course_name}}</h3>
    <div style="display: flex;justify-content: center;">
        <div class="main-box">
            <form method="POST">
                <div class="lecture-box w3-round-xlarge w3-padding-large">
                    <h6 style="font-weight: 400;">Click on the section to add lectures.</h6>

                    {% if sections %}
                    {% for section in sections %}
                    
                    <button type="button" class="accordion">
                        <p class="title">{{section.section_title}}</p>
                        <span class="show"><i class="bi bi-caret-down-fill"></i></span>
                    </button>

                    <div class="info">
                        <div class="w3-section lecture-main-box">
                            <div class="lecture-container-box" id="{{section.id}}">
                                <div class="lecture-container" id="lecture-form">
                                    <span style="font-weight: 500;color:#666666;">Add a Lecture</span>
                                    <input type="number" class="w3-hide" name="section_id[]" value="{{section.id}}"/>
                                    <div class="input w3-margin-top w3-container">
                                        <label class="required-field">Lecture Title</label>
                                        <input type="text" class="w3-margin-bottom" name="lecture_title[]"
                                            placeholder="Enter lecture name..." required />
                                    </div>
                                    <div class="w3-row-padding">
                                        <div class="w3-half">
                                            <label class="required-field">Link to Lecture</label>
                                            <input type="url" class="w3-margin-bottom" name="lecture_link[]"
                                                placeholder="Enter lecture link..." required />
                                        </div>
                                        <div class="w3-half">
                                            <label class="required-field">Lecture Duration in Minutes</label>
                                            <input type="number" min="0" class Z="w3-margin-bottom"
                                                name="lecture_duration[]" placeholder="Enter Duration..." required />
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="w3-container">
                                <button type="button" id="lecture-btn-{{section.section_no}}"
                                    class="w3-left add-lecture-btn"><i class="bi bi-file-earmark-plus"></i>&ensp;New Lecture</button>
                            </div>
                        </div>
                    </div>
            
                    {% endfor %}
                    {% endif %}
                    <br>
                </div>
                <div class="w3-row w3-center w3-section">
                    <input type="submit" name="action" class="w3-right submit-btn w3-section" value="Create and Publish" />
                    <input type="submit" name="action" class="w3-right w3-margin-right w3-text-black add-lecture-btn w3-section" value="Save as Draft" />
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    var shows = document.querySelectorAll(".show");
    var infos = document.querySelectorAll(".info");
    var accordions = document.querySelectorAll(".accordion");

    for (let i = 0; i < accordions.length; i++) {
        accordions[i].onclick = function () {
            for (let j = 0; j < accordions.length; j++) {
                if (accordions[j] != this) {
                    infos[j].classList.remove("reveal");
                    accordions[j].classList.remove("radius");
                }
            }
            accordions[i].classList.toggle("radius");
            infos[i].classList.toggle("reveal");
        };
    }
</script>

{% block customjs %}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="module" src="{{ url_for('static', filename='js/dashboard/faculty/course.js') }}"></script>
{% endblock %}

{% endblock %}