{%extends "faculty-base.html" %}

{% block title %} Create Course - Add Sections{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/faculty/course.css') }}">
{% endblock %}

{%block content%}


<div class="w3-container w3-padding-16" style="margin-bottom: 48px;">
    <h3 style="font-weight: 600;">{{course.course_name}}</h3>
    <div style="display: flex;justify-content: center;">
        <div class="main-box">
            <form method="POST">
                <div class="section-box w3-round-xlarge" style="box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;">
                    <h4 style="font-weight: 500;padding: 4px 16px;">Create Course Outline</h4>
                    <div>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="w3-text-red w3-center">
                            {% for message in messages %}
                            <div>{{ message }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div id="section-form">
                        <div class="section-container-box">
                            <div class="section-container">
                                <div class="w3-margin-bottom" style="font-weight: 500;color: #666666;">Add a Section </div>
                                <label class="required-field">Section Title</label>
                                <input type="text" class="w3-margin-bottom" name="section_title[]" placeholder="Enter section title..." required/>
                                <label class="required-field">Section Outcome</label>
                                <textarea type="text" name="section_outcome[]"
                                    placeholder="Enter section outcome..." rows="2" required></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            <div class="w3-row w3-center w3-section">
                <button type="button" class="w3-section w3-left add-section-btn"><i class="bi bi-folder-plus"></i>&ensp;Add New Section</button>
                <input type="submit" class="w3-right submit-btn w3-section" value="Save and Continue" />
            </div>
        </form>
        </div>
    </div>
</div>

{% block customjs %}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="module" src="{{ url_for('static', filename='js/dashboard/faculty/course.js') }}"></script>
{% endblock %}

{% endblock %}