{%extends "faculty-base.html" %}

{% block title %} Manage Course{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/faculty/course.css') }}">
{% endblock %}

{%block content%}

<div class="w3-container w3-padding-16" style="margin-bottom: 48px;">
    <h5 class="w3-container" style="font-weight: 600;">Manage Course</h5>
    <div class="w3-white w3-round-xlarge w3-padding-large" style="box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;">
        <div class="w3-padding-large" style="display: flex;justify-content: space-between;">
            <div>
                <h4 style="font-weight: 400;">{{course.course_name}}</h4>
                <div class="w3-text-gray">Status: {% if course.is_active and not course.is_draft %}<span
                        class="w3-text-green">Active</span>{% elif not course.is_active and not course.is_draft%}<span
                        class="w3-text-indigo">Archived</span>{% else %}<span class="w3-text-deep-orange">In
                        Drafts</span>{% endif %}</div>
            </div>
            {% if course.is_draft and not course.is_active%}
            <div style="display: flex;align-items: center;">
                <button class="w3-button w3-black">Publish Course</button>
            </div>
            {% endif %}
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="w3-text-red w3-center">
                {% for message in messages %}
                <div>{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
        <form method="POST" id="input-box">
            <div class="w3-row-padding">
                <h5 class="w3-padding" style="font-weight: 600;">Course Info</h5>
                <div class="w3-twothird">
                    <div class="w3-row-padding">
                        <div class="w3-half w3-margin-top">
                            <label>Program</label>
                            <select name="program" required>
                                <option value="">Please choose program</option>
                                <option value="Data Science" {% if course.program=='Data Science' %} selected="selected"
                                    {% endif %}>Data Science</option>
                                <option value="Full-Stack Programming" {% if course.program=='Full-Stack Programming' %}
                                    selected="selected" {% endif %}>Full-Stack Programming</option>
                                <option value="Artificial Intelligence" {% if course.program=='Artificial Intelligence'
                                    %} selected="selected" {% endif %}>Artificial Intelligence</option>
                                <option value="Cloud Computing" {% if course.program=='Cloud Computing' %}
                                    selected="selected" {% endif %}>Cloud Computing</option>
                                <option value="Blockchain" {% if course.program=='Blockchain' %} selected="selected" {%
                                    endif %}>Blockchain</option>
                                <option value="Quantum Computing" {% if course.program=='Quantum Computing' %}
                                    selected="selected" {% endif %}>Quantum Computing</option>
                            </select>
                        </div>
                        <div class="w3-half w3-margin-top">
                            <label>Difficulty Level</label>
                            <select name="difficulty_level" required>
                                <option value="">Please choose course difficulty level</option>
                                <option value="Beginner" {% if course.difficulty_level=='Beginner' %}
                                    selected="selected" {% endif %}>Beginner</option>
                                <option value="Intermediate" {% if course.difficulty_level=='Intermediate' %}
                                    selected="selected" {% endif %}>Intermediate</option>
                                <option value="Advanced" {% if course.difficulty_level=='Advanced' %}
                                    selected="selected" {% endif %}>Advanced</option>
                            </select>
                        </div>
                    </div>

                    <div class="w3-row-padding w3-container w3-margin-top">
                        <label>Course Name</label>
                        <input type="text" placeholder="Give your course a name..." name="course_name"
                            value="{{course.course_name}}" required>
                    </div>
                    <div class="w3-row-padding w3-container w3-margin-top">
                        <label>Course Overview</label>
                        <textarea type="text" placeholder="Give your course an overview..." name="course_overview"
                            rows="5" required>{{course.course_overview}}</textarea>
                    </div>

                    <!-- <div class="w3-row-padding w3-center w3-container w3-section">
                        <input type="submit" class="w3-center submit-btn w3-section" value="Save and Continue" required/>
                    </div> -->

                </div>
                <div class="w3-third">
                    <div class="w3-section">
                        <label>Course Skills</label>
                        <input type="text" name="course_skills" placeholder="Enter course skills seperated by commas.."
                            value="{{course.course_skills}}" required />
                    </div>
                    <div class="w3-section">
                        <label>Course Duration In Hours</label>
                        <input type="number" min="0" placeholder="Enter duration..." name="course_duration"
                            value="{{course.course_duration}}" required />
                    </div>
                    <div class="w3-section">
                        <label>Course Price In Rupees</label>
                        <input type="number" min="0" placeholder="Enter price..." name="course_price"
                            value="{{course.course_price}}" required />
                    </div>

                </div>

            </div>
            <div class="w3-section w3-padding-large">
                <button class="save-course-btn">Save Changes</button>
            </div>
            <hr>
        </form>


        <div class="w3-section w3-padding">
            <form method="POST" id="input-box">
                <h5 style="font-weight: 600;">Course Sections</h5>

                <div class="accordionWrapper">
                    {% for section in course.sections%}
                    <div class="w3-row w3-margin-top">
                        <div class="w3-quarter">
                            <b>Section {{loop.index0 + 1}}</b>
                        </div>
                        <div class="w3-rest">
                            <div class="w3-margin-bottom">
                                <div class="w3-margin-bottom">
                                    <label class="w3-small">Section Title</label>
                                    <input type="text" placeholder="Enter section title..." name="section_title"
                                        value="{{section.section_title}}" required>
                                </div>
                                <div class="w3-margin-bottom">
                                    <label class="w3-small">Section Outcome</label>
                                    <textarea type="text" placeholder="Enter section outcome..." name="section_outcome"
                                        rows="2" required>{{section.section_outcome}}</textarea>
                                </div>
                            </div>
                            <div class="accordionItem close">
                                <button type="button" class="accordionItemHeading">Manage Lectures</button>
                                <div class="accordionItemContent">

                                    {% for lecture in section.lectures%}
                                    <div class="w3-padding-small">
                                        <b>Lecture {{loop.index0 + 1}}</b>
                                        <div class="input w3-margin-top w3-container">
                                            <label class="w3-small required-field">Lecture Title</label>
                                            <input type="text" class="w3-margin-bottom" name="lecture_title[]"
                                                placeholder="Enter lecture name..." value="{{lecture.lecture_title}}"
                                                required />
                                        </div>
                                        <div class="w3-row-padding">
                                            <div class="w3-half">
                                                <label class="w3-small required-field">Link to Lecture</label>
                                                <input type="url" class="w3-margin-bottom" name="lecture_link[]"
                                                    placeholder="Enter lecture link..." value="{{lecture.lecture_link}}"
                                                    required />
                                            </div>
                                            <div class="w3-half">
                                                <label class="w3-small required-field">Lecture Duration in
                                                    Minutes</label>
                                                <input type="number" min="0" class Z="w3-margin-bottom"
                                                    name="lecture_duration[]" placeholder="Enter Duration..."
                                                    value="{{lecture.lecture_duration}}" required />
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
                <div class="w3-section w3-padding-16">
                    <button type="button" class="add-section-btn"
                    onclick="document.getElementById('section-modal').style.display='block'"
                        style="box-shadow: none;background-color: white; border: 1px solid indigo;padding: 8px 16px; color: indigo; border-radius: 100px;cursor: pointer;">Add
                        New Section</button>

                        <div id="section-modal" class="w3-modal">
                            <div class="w3-modal-content w3-padding-large w3-card-4 w3-animate-zoom" style="max-width:360px">
                        
                              <form class="w3-container w3-padding-large" method="POST">
                                <div class="w3-section">
                                  <label><b>Username</b></label>
                                  <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="usrname" required>
                                  <label><b>Password</b></label>
                                  <input class="w3-input w3-border" type="password" placeholder="Enter Password" name="psw" required>
                                  <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Login</button>
                                  <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me
                                </div>
                              </form>
                        
                              <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                                <button onclick="document.getElementById('section-modal').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
                              </div>
                        
                            </div>
                          </div>
                </div>
            </form>
        </div>

    </div>
    <div class="w3-section w3-padding-32 w3-right">
        <button class="delete-course-btn">Delete Course</button>
        {% if not course.is_draft and course.is_active%}<button class="archive-course-btn">Archive Course</button>{%
        endif %}
        <button class="save-course-btn">Save Changes</button>
    </div>
</div>

<script>
    var accItem = document.getElementsByClassName('accordionItem');
    var accHD = document.getElementsByClassName('accordionItemHeading');
    for (i = 0; i < accHD.length; i++) {
        accHD[i].addEventListener('click', toggleItem, false);
    }
    function toggleItem() {
        var itemClass = this.parentNode.className;
        for (i = 0; i < accItem.length; i++) {
            accItem[i].className = 'accordionItem close';
        }
        if (itemClass == 'accordionItem close') {
            this.parentNode.className = 'accordionItem open';
        }
    }
</script>
{% block customjs %}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="module" src="{{ url_for('static', filename='js/dashboard/faculty/course.js') }}"></script>
{% endblock %}

{% endblock %}