body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
}

.nav-container {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
}

.nav-bar {
  padding: 12px 40px;
}
@media only screen and (max-width: 740px) {
  .nav-bar {
    padding: 8px 8px;
  }
}

.menu-item:hover {
  color: #6e44ff;
  font-weight: 700;
}

.card-main {
  padding: 24px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 50px;
}

.footer-container {
  padding: 0px 64px;
}
@media only screen and (max-width: 740px) {
  .footer-container {
      padding: 0px 24px;
  }
}

.wrap-text {
  max-width:75%;
  word-wrap:break-word;
}
@media only screen and (max-width: 740px) {
  .wrap-text {
    max-width:100%;
    word-wrap:break-word;
  }
}

.nav-link-active {
  color: #6e44ff;
  font-weight: 600;
}