{%extends "base.html" %}

{% block title %} About Us{% endblock %}

{%block content%}

<div class="w3-container w3-padding-32">
    <h1>This is the About Us Screen</h1>

    <img style="width:100%;" src="{{ url_for('static', filename='images/about.jpg') }}" alt="aboutus" /><br /> 
       <p>O-learn is the global online learning platform that offers anyone, anywhere access to online courses and degrees from world-class universities and companies.</p>
</div>
<div class="w3-container w3-padding-32">
    <h1>This is the About Us Screen</h1>

    <img style="width:100%;" src="{{ url_for('static', filename='images/partners.jpg') }}"alt="partners" /><br /> 
       
</div>


{% endblock %}