{%extends "base.html" %}

{% block title %} Careers{% endblock %}
{% block customcss%}<link rel="stylesheet" href="{{ url_for('static', filename='css/careers.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
{%endblock%}

{%block content%}



  <div class="w3-container w3-padding-32">
  
  <div class="w3-display-container w3-card-4 banner w3-auto w3-mobile">
  
    <img class="banner-image" src="{{ url_for('static', filename='images/career_main.jpg') }}" alt="" >

    <div class="w3-display-middle w3-text-white"><h1 style="font-weight: 700;" class="w3-center">Build Your Powerful Career <br>at O-Learn</h1></div>
     
  </div>
  <div class="w3-container">
    <h1 style="text-align:center; margin:32px 32px;">Recent & Featured Jobs</h1>
    </div>
  
  
  
  <div class="row">
    <div class="column">
      <div class="card">
        <h3>Development Team Lead</h3>
        <p>Location:Washington.D.C</p>
        <p>Salary:$1300</p>
        <p><button class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Apply Now</button></p>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <h3>DevOps Engineer</h3>
        <p>Location:New York</p>
        <p>Salary:$105,540.</p>
        <p><button class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Apply Now</button></p>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <h3>Data Scientist</h3>
        <p>Location:New York</p>
        <p>Salary:$99,795</p>
        <p><button class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Apply Now</button></p>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <h3>Graphic Designer</h3>
        <p>Location:Washington.D.C</p>
        <p>Salary:$1200</p>
        <p><button class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Apply Now</button></p>
      </div>
    </div>
  </div>
  <div class="w3-container w3-center ">
  <h1 style="text-align:center; margin:32px 32px;">Looking For Experts?</h1>
  </div>

  <div class="row">
    <div class="column">
      <div class="flip-card " >

        <div class="flip-card-inner">
          <div class="flip-card-front">

            
        <img src="{{ url_for('static', filename='images/jane.jpg') }}" alt="jane"  style="width:100%; height:75%; object-fit:cover;">
        
        <h3 style=" font-weight: 500; text-align: center; padding: 10px;">Data Scientist</h3> 
          </div>
          <div class="flip-card-back">
            <h1>Jane Klores</h1> 
            <p>Data Scientist </p> 
            <p>27 Jobs Done</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </div>
        </div>
      </div>
      
    </div>
    <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{{ url_for('static', filename='images/john.jpg') }}" alt="john" class="w3-image" style="width:100%; height:75%; object-fit:cover;" >
            <h3 style=" font-weight: 500; text-align: center; padding: 10px;">Web Developer</h3> 
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1> 
            <p>Web Developer</p> 
            <p>41 Jobs Done</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked "></span>
            <span class="fa fa-star checked"></span>
          </div>
        </div>
      </div>
      
    </div>

    <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{{ url_for('static', filename='images/FL1.jpg') }}" alt="FL1" class="w3-image" style="width:100%;height:75%; object-fit:cover;" >
            <h3 style=" font-weight: 500; text-align: center; padding: 10px;">Graphic Designer</h3> 
          </div>
          <div class="flip-card-back">
            <h1>Semanta Anderson</h1> 
            <p>Graphic Designer</p> 
            <p>19 Jobs Done</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star"></span>
          </div>
        </div>
      </div>
      
    </div>
    <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{{ url_for('static', filename='images/mike.jpg') }}" alt="mike" class="w3-image" style="width:100%; height:75%; object-fit:cover;">
            <h3 style=" font-weight: 500; text-align: center; padding: 10px;">DevOps Engineer</h3> 
          </div>
          <div class="flip-card-back">
            <h1>Mike Martins</h1> 
            <p>DevOps Engineer</p> 
            <p>32 Jobs Done</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star  checked"></span>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
  <div class=" w3-container w3-center"><button style=" margin-top: 5px; margin-bottom: 5px; margin-right: 0px; margin-left: 10px;" class="w3-button w3-section w3-tiny w3-round-xxlarge w3-white w3-border w3-border-black w3-hover-black w3-ripple w3-right"> <a style="text-decoration: none;" href=" ">View more experts</a> </button></div>
</div>
  
  

{% endblock %}