                                                                                                                                                                                                                                                                               <!DOCTYPE html>

{%extends "base.html" %}

{% block title %} Sign-Up{% endblock %}
{% block customcss %}
    <!-- Replace this block with custom css exclusive to your page. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/facregister.css') }}">
    {% endblock %}
{%block content%}

<div class="w3-container w3-padding-32">
<h1 class="w3-center w3-padding-32" >Faculty SignUp Form</h1>

<div class="w3-container w3-center w3-margin" > 
<p>Please fill in this form to create an account.</p>
</div>
<div class="w3-display-container w3-stretch" style="height:100vh;margin-top:24px">


<form action="{{url_for('submit')}}" class="w3-display-middle">
  
  
  
    <label for="First Name"><b>First Name*</b></label>
    <input type="text" placeholder="Enter First Name" name="First Name" id="first name" required>
    <br>
    <label for="Last Name"><b>Last Name*</b></label>
    <input type="text" placeholder="Enter Last Name" name="Last Name" id="las name" required>

    <br>
    <label for="email"><b>Email*</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>
    <br>
    <label for="psw"><b>Password*</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
    <br>
    <label for="psw-repeat"><b>Reenter Password*</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
    <br>
    <br>
    

    <input type="submit"  class="w3-button w3-block w3-round-xxlarge w3-black w3-hover-black" onclick="alert('Changes may not save. Do you want to submit? " href="{{ url_for('submit') }}" value="Register">
  
  <div class="w3-container w3-center w3-margin">
    <p>Already have an account? <a href="{{ url_for('login') }}">Sign in</a>.</p>
  </div>
</form>
</div>
</div>

{% endblock %}
