{%extends "base.html" %}

{% block title %} Home{% endblock %}

{% block customcss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock%}

{%block content%}

<div class="w3-container">

        <div class="w3-row" style="height: 88vh;">
            <div class="w3-full w3-display-container" style="height: 100%;">
                <div class="w3-display-middle w3-center" style="width: 100%;">
                    <h1 class="w3-xxxlarge w3-hide-small" style="letter-spacing: -1px; line-height: 144%; font-weight: 800;">Find the Best Courses and <br /> <span style="color:#6E44FF;">Upgrade Your Skills</span></h1>
                    <h1 class="w3-xxlarge w3-hide-large w3-hide-medium" style="letter-spacing: -1px; line-height: 144%; font-weight: 800;">Find the Best Courses and <br /> <span style="color:#6E44FF;">Upgrade Your Skills</span></h1>
                    <p class="w3-xlarge w3-hide-small">Create your own path and drive on your skills on your own to achieve what you seek.</p>
                    <p class="w3-medium w3-hide-large w3-hide-medium">Create your own path and drive on your skills on your own to achieve what you seek.</p>
                    <div class="w3-padding" style="margin-top: 24px; margin-bottom: 24px;">
                        <a href="{{ url_for('sign_up') }}" class="w3-mobile w3-section w3-button w3-large w3-padding-large w3-round-xxlarge w3-black w3-border w3-border-black w3-hover-black w3-hide-small"><b>Create an Account</b></a>
                        <a href="{{ url_for('sign_up') }}" class="w3-mobile w3-section w3-button w3-large w3-padding w3-round-xxlarge w3-black w3-border w3-border-black w3-hover-black w3-hide-large w3-hide-medium"><b>Create an Account</b></a>
                    </div>
                </div>
            </div>
        </div>

    <div class="w3-padding-32 container">

        <div class="container">
            <h1 class="w3-xxlarge w3-center w3-hide-small" style="letter-spacing: -1px; font-weight: 700;">Start your journey to a successful career with our online practical courses ✨</h1>
            <h1 class="w3-xlarge w3-center w3-hide-large w3-hide-medium" style="letter-spacing: -1px; font-weight: 500;"> Start your journey to a better life with online practical courses ✨</h1>
        </div>

        <div class="w3-row w3-section w3-stretch">
            <div class="w3-third w3-padding">
                <div class="card-home w3-center">
                    <div class="w3-padding-small">
                        <i class="bi bi-emoji-heart-eyes-fill" style="background-color: #f1ecff; padding: 16px; font-size: 1.5rem; color: #6E44FF; border-radius: 100%;"></i>
                        <h5 style="font-weight: 700; margin-top: 24px;">Trending Courses</h5>
                        <p style="color: #333333;">Our online courses are designed by technology leaders to meet industry demands and skills.</p>
                    </div>
                </div>
            </div>
            <div class="w3-third w3-padding">
                <div class="card-home w3-center">
                    <div class="w3-padding-small">
                        <i class="bi bi-patch-check-fill" style="background-color: #fffbe9; padding: 16px; font-size: 1.5rem; color: #FFD523; border-radius: 100%;"></i>
                        <h5 style="font-weight: 700; margin-top: 24px;">Experienced Faculty</h5>
                        <p style="color: #333333;">Courses designed by professionals to fit in your industry supporting all-round with latest technologies.</p>
                    </div>
                </div>
            </div>
            <div class="w3-third w3-padding">
                <div class="card-home w3-center">
                    <div class="w3-padding-small">
                        <i class="bi bi-award-fill" style="background-color: #ebf9f0; padding: 16px; font-size: 1.5rem; color: #54CC7C; border-radius: 100%;"></i>
                        <h5 style="font-weight: 700; margin-top: 24px;">Earn a Degree</h5>
                        <p style="color: #333333;">Find affordable online bachelor's degrees from top universities offered that an open a path to a career.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container w3-padding-32">
        <div class="w3-row">
            <div class="w3-half feature-container">
                <h1 class="w3-xxlarge w3-hide-small" style="letter-spacing: -1px; font-weight: 700;">The perfected<br/>learning model.</h1>
                <h1 class="w3-xlarge w3-hide-large w3-hide-medium"
                    style="letter-spacing: -1px; font-weight: 500;">The perfected<br/>learning model.</h1>
                <div class="w3-padding-8" style="font-weight: 400; color: #666666;">Our learning methodology blends
                    the flexibility of online learning with the benefits of human instruction.</div>
                <div class="w3-padding-16">
                    <p style="font-weight: 600;"><i class="bi bi-check-circle-fill" style="color: #6E44FF;"></i>&emsp;Interactive Content</p>
                    <p style="font-weight: 600;"><i class="bi bi-check-circle-fill" style="color: #6E44FF;"></i>&emsp;Curated Resources</p>
                    <p style="font-weight: 600;"><i class="bi bi-check-circle-fill" style="color: #6E44FF;"></i>&emsp;Awsome Learning Tools</p>
                </div>
                <a href="#" class="w3-section w3-btn w3-padding-large w3-black w3-border-0 w3-round-xxlarge">Learn more</a>
            </div>
            <div class="w3-half">
                <div class="w3-row">
                    <div class="w3-half">
                        <div class="feature-card">
                            <div class="w3-display-container" style="height: 48px; width:48px; background-color: #f5fbfb; border-radius: 100%;display: inline-block;">
                                <i class="w3-display-middle bi bi-briefcase-fill" style="font-size: 1.2rem; color: #9DD9D2;"></i>
                            </div>
                            <h5 style="font-weight: 600; margin-top: 8px;">Get employable skills</h5>
                            <div style="color: #666666;">Curriculum is designed with top-tier industry partners</div>    
                          </div>
                    </div>
                    <div class="w3-half">
                        <div class="feature-card">
                            <div class="w3-display-container" style="height: 48px; width:48px; background-color: #f1ecff; border-radius: 100%;display: inline-block;">
                                <i class="w3-display-middle bi bi-capslock-fill" style="font-size: 1.2rem; color: #6E44FF;"></i>
                            </div>
                            <h5 style="font-weight: 600; margin-top: 8px;">Project based learning</h5>
                            <div style="color: #666666;"> helps to develop teamwork and problem-solving skills</div>    
                          </div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-half">
                        <div class="feature-card">
                            <div class="w3-display-container" style="height: 48px; width:48px; background-color: #fff9e7; border-radius: 100%;display: inline-block;">
                                <i class="w3-display-middle bi bi-chat-dots-fill" style="font-size: 1.2rem; color: #ffbe0b;"></i>
                            </div>
                            <h5 style="font-weight: 600; margin-top: 8px;">24/7 live support</h5>
                            <div style="color: #666666;">Reach out to our mentors 24/7 questions answered</div>    
                          </div>
                    </div>
                    <div class="w3-half">
                        <div class="feature-card">
                            <div class="w3-display-container" style="height: 48px; width:48px; background-color: #fdf0ed; border-radius: 100%;display: inline-block;">
                                <i class="w3-display-middle bi bi-clock-fill" style="font-size: 1.2rem; color: #ee6c4d;"></i>
                            </div>
                            <h5 style="font-weight: 600; margin-top: 8px;">Learn on your schedule</h5>
                            <div style="color: #666666;">Self-paced learning whenever and wherever</div>    
                          </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container w3-padding-32">
        <div class="w3-row w3-section w3-stretch">
            <div class="w3-half w3-padding w3-center">
                <img src="https://s.udemycdn.com/home/non-student-cta/instructor-1x-v3.jpg" alt="Career" class="w3-image">
            </div> 
            <div class="w3-half w3-padding">
                <div class="w3-padding-32 w3-section">
                    <h1 class="w3-xxlarge w3-left w3-hide-small" style="letter-spacing: -1px; font-weight: 700;">Become a Faculty</h1>
                    <h1 class="w3-xlarge w3-center w3-hide-large w3-hide-medium"
                        style="letter-spacing: -1px; font-weight: 500;">Become a Faculty</h1>
                    <h5 class="w3-left w3-hide-small" style="font-weight: 400; color: #333333;">Faculties from around the world teach millions of students on our platform. We provide the tools and skills to teach what you love.</h5>
                    <h5 class="w3-center w3-hide-large w3-hide-medium" style="font-weight: 400; color: #333333;">Faculties from around the world teach millions of students on our platform. We provide the tools and skills to teach what you love.</h5>
                    <div style="margin-top: 24px; margin-bottom: 24px;">
                        <a href="{{ url_for('sign_up') }}" class="w3-mobile w3-section w3-button w3-large w3-padding-large w3-round-xxlarge w3-black w3-border w3-border-black w3-hover-black w3-hide-small"><b>Start Teaching Today</b></a>
                        <a href="{{ url_for('sign_up') }}" class="w3-mobile w3-section w3-button w3-large w3-padding w3-round-xxlarge w3-black w3-border w3-border-black w3-hover-black w3-hide-large w3-hide-medium"><b>Start Teaching Today</b></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-row w3-stretch">
            <div class="w3-half w3-padding">
                <div class="w3-padding-32 w3-section">
                    <h1 class="w3-xxlarge w3-left w3-hide-small" style="letter-spacing: -1px; font-weight: 700;">Transform your career through education</h1>
                    <h1 class="w3-xlarge w3-center w3-hide-large w3-hide-medium" style="letter-spacing: -1px; font-weight: 500;">Transform your career through education</h1>
                    <h5 class="w3-left w3-hide-small" style="font-weight: 400; color: #333333;">Learners around the world are launching new careers, advancing in their fields, and enriching their lives.</h5>
                    <h5 class="w3-center w3-hide-large w3-hide-medium" style="font-weight: 400; color: #333333;"> Learners around the world are launching new careers, advancing in their fields, and enriching their lives.</h5>
                    <div style="margin-top: 24px; margin-bottom: 24px;">
                        <a href="{{ url_for('programs') }}" class="w3-mobile w3-section w3-button w3-large w3-padding-large w3-round-xxlarge w3-black w3-border w3-border-black w3-hover-black w3-hide-small"><b>Explore Programs</b></a>
                        <a href="{{ url_for('programs') }}" class="w3-mobile w3-section w3-button w3-large w3-padding w3-round-xxlarge w3-black w3-border w3-border-black w3-hover-black w3-hide-large w3-hide-medium"><b>Explore Programs</b></a>
                    </div>
                </div>
            </div>
            <div class="w3-half w3-padding w3-center">
                <img src="https://s.udemycdn.com/home/non-student-cta/ub-1x-v3.jpg" alt="Faculty" class="w3-image">
            </div>
        </div>

    </div>


    <!-- Partnering Institutes -->
    <div class="container w3-padding-32">
        <div class="container">
            <div class="container">
                <div class="container">
                    <h1 class="w3-xxlarge w3-center w3-hide-small" style="letter-spacing: -1px; font-weight: 700;">Our Partners</h1>
                    <h1 class="w3-xlarge w3-center w3-hide-large w3-hide-medium" style="letter-spacing: -1px; font-weight: 500;">Our Partners</h1>
                </div>
            </div>
    
            <div class="w3-row">
                <div class="w3-third w3-padding w3-center" >
                    <img class="w3-image  w3-padding" src="{{ url_for('static', filename='images/mit.jpg') }}" >
                </div>
           
                <div class="w3-third w3-padding w3-center">
                    <img class="w3-image  w3-padding" src="{{ url_for('static', filename='images/bombay.jpg') }}" >
                </div>
           
                <div class="w3-third w3-padding w3-center">
                    <img class="w3-image  w3-padding" src="{{ url_for('static', filename='images/madra.jpg') }}" >
                </div>
            </div>
            
            <div class="w3-row">
                <div class="w3-third w3-padding w3-center">
                    <img class="w3-image w3-padding" src="{{ url_for('static', filename='images/kanpur.jpg') }}" >
                </div>
            
                <div class="w3-third w3-padding w3-center">
                    <img class="w3-image  w3-padding" src="{{ url_for('static', filename='images/stanf.jpg') }}" >
                </div>
            
                <div class="w3-third w3-padding w3-center">
                    <img class="w3-image  w3-padding" src="{{ url_for('static', filename='images/de.jpg') }}" >
                </div>
            </div>
        </div>
    </div>
    <!-- Partnering Institutes ends here -->

    <div class="container w3-padding-16">
        <div class="w3-padding-large w3-padding-32 w3-center" style="background-color: #f1ecff;border-radius: 2rem;">
            <h1 class="w3-xxlarge w3-center w3-hide-small" style="letter-spacing: -1px; font-weight: 700;">Subscribe To Our Newsletter</h1>
            <h1 class="w3-xlarge w3-center w3-hide-large w3-hide-medium"
                style="letter-spacing: -1px; font-weight: 500;">Subscribe To Our Newsletter</h1>
            <div class="w3-padding-small">Sign up here to get latest news, updates and special offers delivered to your inbox.</div>
            <form class="container w3-section">
                <div class="w3-row container">
                    <div class="w3-twothird w3-padding-small">
                        <input class="w3-input w3-round-xxlarge w3-border-0" type="text">
                    </div>
                    <div class="w3-rest w3-padding-small">
                        <button class="w3-btn w3-block w3-round-xxlarge w3-black w3-hover-black" type="submit" style="padding: 12px 20px;"><b>Subscribe</b></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}