{%extends "base.html" %} {% block title %} Students{% endblock %} {% block customcss %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/students.css') }}"> {% endblock%} {%block content%}
<!-- Body Section -->
<div class="container w3-padding-32">
    <div class=" w3-mobile w3-stretch w3-center">
        <div class="w3-padding-32">
            <h1 class="w3-xxlarge w3-center w3-hide-small" style="letter-spacing: -1px; font-weight: 700;">Top Performers</h1>
            <h1 class="w3-xlarge w3-center w3-hide-large w3-hide-medium" style="letter-spacing: -1px; font-weight: 500;">Top Performers</h1>
        </div>
        <div class="w3-row w3-center">
            <div class="w3-quarter w3-center w3-padding">
                <div class="card">
                    <img class="w3-center w3-circle cardimage" src="https://images.generated.photos/e3Z_NQZjW_A9PwEoOgY5-o82ktUbOks6r5qlB1j3XVI/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy92M18w/OTMzODg2LmpwZw.jpg">
                    <h3 class="name">Harshavardhan</h3>
                </div>
            </div>
            <div class="w3-quarter w3-center w3-padding">
                <div class="card">
                    <img class="w3-center w3-circle cardimage" src="https://imgproxy.generated.photos/mj6ns1sKQCzU8iib8RSLic7CW--otvMHoNMtSLwK0bM/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy90cmFu/c3BhcmVudF92My92/M18wNzQyOTk2LnBu/Zw.png">
                    <h3 class="name">Stephen Joe</h3>
                </div>
            </div>
            <div class="w3-quarter w3-center w3-padding">
                <div class="card">
                    <img class="w3-center w3-circle cardimage" src="https://images.generated.photos/Vim9dL8rWqm0x12JN_okqqFRnXi7NMmGkHAB9wmKoN0/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy92M18w/ODc1ODUyLmpwZw.jpg">
                    <h3 class=" name ">Anand Saleem</h3>
                </div>
            </div>
            <div class="w3-quarter w3-center w3-padding ">
                <div class="card ">
                    <img class="w3-center w3-circle cardimage " src="https://imgproxy.generated.photos/nhwSEOfZIiXENMAF9pvD3l5kGzpLm4_BB5xkSD6fBfs/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy90cmFu/c3BhcmVudF92My92/M18wOTg2NTkzLnBu/Zw.png ">
                    <h3 class="name ">Ben Johnson</h3>
                </div>
            </div>
        </div>
        <div class="w3-row w3-center " style="margin-top:8px; ">
            <div class="w3-quarter w3-center w3-padding ">
                <div class="card ">
                    <img class="w3-center w3-circle cardimage " src="https://imgproxy.generated.photos/C2H2lDToP3UHJw4hi1YeOXFCaIiPN4MobuLdvKiB-lo/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy90cmFu/c3BhcmVudF92My92/M18wOTAyOTUyLnBu/Zw.png ">
                    <h3 class="name ">Adam John</h3>
                </div>
            </div>
            <div class="w3-quarter w3-center w3-padding ">
                <div class="card ">
                    <img class="w3-center w3-circle cardimage " src="https://images.generated.photos/zsFrktVFh4S3Pa52dTqZnkts48VVGEXouaSnkan4kgY/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy92M18w/MDgzMDA0LmpwZw.jpg">
                    <h3 class="name ">Alka Susaine</h3>
                </div>
            </div>
            <div class="w3-quarter w3-center w3-padding ">
                <div class="card ">
                    <img class="w3-center w3-circle cardimage " src="https://imgproxy.generated.photos/oIFF94bIPyO0o1r1gfjD7tWR_NvTUX7c3dZN4iLHKL4/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy90cmFu/c3BhcmVudF92My92/M18wNDY2NTY4LnBu/Zw.png ">
                    <h3 class="name ">Aleena Johans</h3>
                </div>
            </div>
            <div class="w3-quarter w3-center w3-padding ">
                <div class="card ">
                    <img class="w3-center w3-circle cardimage " src="https://images.generated.photos/r0ZkrxgVC9itya9h-65I1mRF2cN1qcLEm0pts7hXhEo/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy92M18w/NTAxNzU5LmpwZw.jpg">
                    <h3 class="name ">Priyadha Prakash</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Body section ends here -->

{% endblock %}