<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.center {
  margin: auto;
  width: 60%;
  border: 3px solid black;
  padding: 10px;
}
</style>
</head>
<body>
<div class="center">
  <h3>Submitted Successfully</h3>
  <a class="active" href="{{ url_for('home') }}"><button class="button"><i class="fa fa-fw fa-home"></i>Go to Home Page</button></a> 
</div>

</body>
</html>


