{%extends "base.html" %}

{% block title %} Cloud Computing Courses{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/courses.css') }}">
{% endblock%}

{%block content%}

<div class="w3-container w3-padding-32">

    <div class="container">

        <h1 class="w3-padding-large w3-xxlarge w3-center w3-hide-small" style="letter-spacing: -1px; font-weight: 700;">
            Cloud Computing Courses
        </h1>
        <h1 class="w3-padding-large w3-xlarge w3-center w3-hide-large w3-hide-medium"
            style="letter-spacing: -1px; font-weight: 500;">
            Cloud Computing Courses
        </h1>
        <div class="w3-center w-padding">
            Today, all companies, big or small, are adopting cloud computing to enable their digital transformation. The growth of this technology has created incredible demand for cloud computing jobs, from Cloud Developers and Cloud DevOps roles to more specialized roles such as Solutions Architects and Cloud Security Engineers. You can join this growing field – get started today.
        </div>

        <div class="w3-padding-64">
            <div class="w3-row w3-stretch">
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Practical Statistics</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Data Wrangling, Matplotlib, Pandas, Numpy, Statistics
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Data Visualization</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Data Wrangling, Matplotlib, Data Visualization, Pandas, Numpy, Statistics
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Data Analysis</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Data Analysis, Matplotlib, Pandas, Numpy, Jupyter
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Data Engineering</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Python, Machine Learning, Software Engineering
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Data Analysis</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Data Analysis, Matplotlib, Pandas, Numpy, Jupyter
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Data Engineering</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Python, Machine Learning, Software Engineering
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Data Analysis</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Data Analysis, Matplotlib, Pandas, Numpy, Jupyter
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Data Engineering</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Python, Machine Learning, Software Engineering
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="w3-center">
                <button
                    class="w3-section w3-button w3-small w3-white w3-border w3-border-lightgray w3-hover-white w3-round-xlarge">Load More</button>
            </div>
        </div>


    </div>

</div>

{% endblock %}