{%extends "base.html" %}

{% block title %} Programming and Development Courses{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/courses.css') }}">
{% endblock%}

{%block content%}

<div class="w3-container w3-padding-32">

    <div class="container">

        <h1 class="w3-padding-large w3-xxlarge w3-center w3-hide-small" style="letter-spacing: -1px; font-weight: 700;">
            Programming and Development Courses
        </h1>
        <h1 class="w3-padding-large w3-xlarge w3-center w3-hide-large w3-hide-medium"
            style="letter-spacing: -1px; font-weight: 500;">
            Programming and Development Courses
        </h1>
        <div class="w3-center w-padding">
            Programming is a critical skill in today’s economy, and there is a shortage of qualified developers. Whether you’re new to coding, adding more skills, or advancing your career, 10 hours a week will prepare you for your ideal developer job.
        </div>

        <div class="w3-padding-64">
            <div class="w3-row w3-stretch">
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Full-Stack Development</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Python, JavaScript, PostgreSQL, Docker, Flask, Kubernetes
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Data Structures</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Python, C++, Java, Data Structures, Problem Solving
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Python Programming</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Python, Object-Oriented Programming, Python Packages
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Algorithms</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Python, C++, Java, Algorithms, Problem Solving
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Data Analysis</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Data Analysis, Matplotlib, Pandas, Numpy, Jupyter
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">IBM Full Stack Cloud Developer</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Devops,Node.Js,Openshift,Iaas PaaS Saas
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Introduction to Web Development</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            HTML,CSS,JavaScript
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Full Stack Web Development</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            AngularJs,HTML,CSS,JavaScript
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="w3-center">
                <button
                    class="w3-section w3-button w3-small w3-white w3-border w3-border-lightgray w3-hover-white w3-round-xlarge">Load More</button>
            </div>
        </div>


    </div>

</div>

{% endblock %}