{%extends "base.html" %}

{% block title %} Quantum Computing Courses{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/courses.css') }}">
{% endblock%}

{%block content%}

<div class="w3-container w3-padding-32">

    <div class="container">

        <h1 class="w3-padding-large w3-xxlarge w3-center w3-hide-small" style="letter-spacing: -1px; font-weight: 700;">
            Quantum Computing Courses
        </h1>
        <h1 class="w3-padding-large w3-xlarge w3-center w3-hide-large w3-hide-medium"
            style="letter-spacing: -1px; font-weight: 500;">
            Quantum Computing Courses
        </h1>
        <div class="w3-center w-padding">
            Quantum computers have the potential to revolutionize computation by making certain types of classically intractable problems solvable. While no quantum computer is yet sophisticated enough to carry out calculations that a classical computer can't, great progress is under way.        </div>

        <div class="w3-padding-64">
            <div class="w3-row w3-stretch">
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Quantum Computer</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Transmon qubits, Silicon spin qubits, diamond NV center qubits, and topological qubits
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Quantum Information</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Quantum circuits, Quantum compiling, universal gate sets, superdense coding
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Quantum Internet</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Micro-architectures, compilers, and programming languages for a quantum processor
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Quantum Technology</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Quantum communication and sensing technologies, Individual quantum operations
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Quantum Computing: from Basics to the Cutting Edge </h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Computation with qubits,Quantum Error Correction
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">Getting Started with Quantum Machine Learning</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Matrix Multiplication,Matrices,Machine Learning
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">The Introduction to Quantum Computing</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Construction of quantum logic algorithms,Computation with continuous variables
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
                <div class="w3-quarter w3-padding-small" style="margin-bottom: 8px;">
                    <div class="card-courses">
                        <i class="bi bi-server w3-xlarge" style="color: #6E44FF;"></i>
                        <h5 class="w3-large" style="font-weight: bold;">The complete Quantum Computing COurse</h5>
                        <p class="w3-small">
                            <span class="w3-text-gray">Topics: </span>
                            Python,Quantum Computing,Quantum Programming
                        </p>
                        <div class="w3-section"><b>180 hours</b></div>
                        <a href="{{ url_for('course_details') }}"
                            class="w3-button w3-block w3-black w3-round-xxlarge w3-hover-black">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="w3-center">
                <button
                    class="w3-section w3-button w3-small w3-white w3-border w3-border-lightgray w3-hover-white w3-round-xlarge">Load More</button>
            </div>
        </div>


    </div>

</div>

{% endblock %}