{%extends "faculty-base.html" %}

{% block title %} Create Course - Add Sections{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/faculty/course.css') }}">
{% endblock %}

{%block content%}


<div class="w3-container">
    <div class="w3-text-gray">Course / <a style="text-decoration: none;" href="{{url_for('manage_course', course_id = course.id)}}">{{course.course_name}}</a> / Sections</div>
    <div class="w3-row">
        <div class="w3-twothird" style="display: flex;align-items: center;">
            <h4 style="font-weight: 500;">{{course.course_name}}</h4>
        </div>
        <div class="w3-third">
            <form method="POST">
                {% if not course.is_active %} 
                <input type="submit" name="action" class="w3-right create-course-btn" value="Create and Publish" />
                {% endif%}
                {% if not course.is_draft and not course.is_active %}
                <input type="submit" name="action" class="w3-right w3-margin-right save-draft-btn" value="Save as Draft" />
                {% endif %}
            </form>
        </div>
    </div>
    <hr>
    <div class="w3-padding-16 w3-section">
        <div class="w3-row">
            <div class="w3-third">
                <div>
                    <b>Course Sections {% if course.sections | length > 0 %} ({{course.sections | length }}) {% endif %}</b>
                    {% if course.sections | length > 0 %}
                    {% for section in course.sections %}
                    <div class="w3-card w3-round-large w3-padding w3-section" style="border-left: 4px solid #F27063;">
                        <label class="w3-tiny w3-text-gray">SECTION {{ loop.index }}</label>
                        <div style="font-weight: 500;">{{section.section_title}}</div>
                        <div style="margin-top: 4px;margin-bottom: 4px;">
                            <form method="POST">
                                <input class="w3-hide" name="section_id" value="{{section.id}}"/>
                                <input type="submit" name="action" class="w3-btn add-lecture-btn w3-padding-small w3-tiny" value="Add Lectures">
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="w3-center w3-padding-48 w3-section" style="background-color: #f1f1f1;border-radius: 16px;">
                        <div class="w3-center w3-xxlarge w3-text-gray"><i class="bi bi-folder"></i></div>
                        <div class="w3-text-gray w3-center">No Sections</div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="w3-twothird" style="padding-left: 36px;">
                <b>Add a Section</b>
                <form method="POST" id="form">
                    <div class="w3-margin-top">
                        <label class="w3-text-gray">Section Title</label>
                        <input type="text" placeholder="Enter section title..." name="section_title" required>
                    </div>
                    <div class="w3-margin-top">
                        <label class="w3-text-gray">Section Outcome</label>
                        <textarea type="text" placeholder="Enter section outcome..."
                            name="section_outcome" rows="4" required></textarea>
                    </div>
                    <div class="w3-center w3-section">
                        <input type="submit" name="action" class="w3-section w3-right submit-btn" value="Save Section"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

{% block customjs %}{% endblock %}

{% endblock %}