{%extends "faculty-base.html" %}

{% block title %} Create Course - Add Sections{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/faculty/course.css') }}">
{% endblock %}

{%block content%}


<div class="w3-container">
    <div class="w3-text-gray"><a href="{{url_for('manage_course', course_id = course.id)}}" style="text-decoration: none;color: #6e44ff;"><i
        class="bi bi-arrow-left-short"></i> Back</a>&emsp;Edit Course Info</div>
    <div class="w3-row">
        <div class="w3-twothird" style="display: flex;align-items: center;">
            <h4 style="font-weight: 500;">{{course.course_name}}</h4>
        </div>
    </div>
    <div class="w3-margin-bottom">
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="w3-text-red w3-center">
                {% for message in messages %}
                <div>{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
        <form method="POST" id="form">
            <div class="w3-row">
                <div class="w3-third w3-margin-top">
                    <label class="w3-text-gray">Program</label>
                    <select name="program" required>
                        <option value="">--</option>
                        <option value="Data Science" {% if course.program == "Data Science" %} selected="selected" {% endif %}>Data Science</option>
                        <option value="Full-Stack Programming" {% if course.program == "Full-Stack Programming" %} selected="selected" {% endif %}>Full-Stack Programming</option>
                        <option value="Artificial Intelligence"  {% if course.program == "Artificial Intelligence" %} selected="selected" {% endif %}>Artificial Intelligence</option>
                        <option value="Cloud Computing" {% if course.program == "Cloud Computing" %} selected="selected" {% endif %}>Cloud Computing</option>
                        <option value="Blockchain"  {% if course.program == "Blockchain" %} selected="selected" {% endif %}>Blockchain</option>
                        <option value="Quantum Computing" {% if course.program == "Quantum Computing" %} selected="selected" {% endif %}>Quantum Computing</option>
                    </select>
                </div>
                <div class="w3-third w3-margin-top" style="padding-left: 24px;">
                    <label class="w3-text-gray">Difficulty Level</label>
                    <select name="difficulty_level" required>
                        <option value="">--</option>
                        <option value="Beginner" {% if course.difficulty_level == "Beginner" %} selected="selected" {% endif %}>Beginner</option>
                        <option value="Intermediate"{% if course.difficulty_level == "Intermediate" %} selected="selected" {% endif %}>Intermediate</option>
                        <option value="Advanced" {% if course.difficulty_level == "Advanced" %} selected="selected" {% endif %}>Advanced</option>
                    </select>
                </div>
            </div>
            <div class="w3-row w3-margin-top">
                <label class="w3-text-gray">Course Name</label>
                <input type="text" placeholder="Give your course a name..." name="course_name" value="{{course.course_name}}" required>
            </div>
            <div class="w3-row w3-margin-top">
                <label class="w3-text-gray">Course Overview</label>
                <textarea type="text" placeholder="Give your course an overview..." name="course_overview" rows="5"
                    required>{{course.course_overview}}</textarea>
            </div>
            <div class="w3-row w3-margin-top">
                <label class="w3-text-gray">Course Skills</label>
                <input type="text" name="course_skills" placeholder="Enter course skills seperated by commas.." value="{{course.course_skills}}" required/>
            </div>
            <div class="w3-row">
                <div class="w3-half w3-margin-top">
                    <label class="w3-text-gray">Course Preview Link</label>
                    <input type="url" name="preview_link" placeholder="https://example.com" value="{{course.preview_link}}" required/>
                </div>
                <div class="w3-quarter w3-margin-top" style="padding-left: 24px;">
                    <label class="w3-text-gray">Course Duration In Hours</label>
                    <input type="number" min="0" placeholder="Enter duration..." name="course_duration" value="{{course.course_duration}}" required />
                </div>
                <div class="w3-quarter w3-margin-top" style="padding-left: 24px;">
                    <label class="w3-text-gray">Course Price In Rupees</label>
                    <input type="number" min="0" placeholder="Enter price..." name="course_price" value="{{course.course_price}}" required />
                </div>
            </div>
            <div class="w3-center w3-section">
                <div class="w3-margin-bottom">
                    <input type="submit" name="action" class="w3-right submit-btn w3-section" value="Update Course Info" required />
                    <a href="{{url_for('manage_course', course_id=course.id)}}" class="w3-right w3-section w3-button w3-white w3-text-black w3-round-large w3-margin-right"><b>Cancel</b></a>    
                </div>
            </div>
        </form>
    </div>
</div>
</div>

{% block customjs %}{% endblock %}

{% endblock %}