{%extends "faculty-base.html" %}

{% block title %} Manage Course{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/faculty/course.css') }}">
{% endblock %}

{%block content%}
<div class="w3-container">
    <form method="POST">
    <div class="w3-section w3-text-gray" style="display: flex;justify-content: space-between;">
        <div style="display: flex;align-items: center;">
            <div class="w3-text-gray">
                <a href="{{url_for('faculty_courses')}}" style="text-decoration: none;color: #6e44ff;"><i
                    class="bi bi-arrow-left-short"></i> Back</a>&emsp;
                Manage Course</div>
        </div>
        <div style="display: flex;align-items: center;">
            <div class="w3-right">
                <a style="text-decoration: none;color: black;margin-right: 16px;" href="{{url_for('course_preview', course_id=course.id)}}">Preview Course <i class="bi bi-box-arrow-up-right"></i></a>
                {% if course.is_draft or not course.is_active%}
                <input type="submit" name="action" class="w3-button w3-black w3-round-large" value="Publish Course" />
                {% endif %}
                {% if not course.is_draft and course.is_active%}
                <input type="submit" name="action" class="w3-button w3-indigo w3-round-large" value="Archive Course" />
                {% endif %}
            </div>
        </div>
    </div>
        <!-- Success Messages -->
        {% with success_messages = get_flashed_messages(category_filter=["success"]) %}
            {% if success_messages %}
                <div id="flash" class="w3-small">
                {%- for message in success_messages %}
                    <div class="dashboard-flash-card"><i style="color: #32CB34;" class="bi bi-check-circle-fill"></i>&ensp;{{ message }}</div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <!-- Success Messages -->
        <!-- Error Messages -->
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
                <div id="flash" class="w3-small">
                {%- for error in errors %}
                    <div style="color: #FF4E26;" class="dashboard-flash-card"><i class="bi bi-exclamation-circle-fill"></i>&ensp;{{ error }}</div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <!-- Error Messages -->
    <div class="w3-padding-16">
            <div>
                <span>Course Information</span>
                <span style="display: inline-block;margin-left: 8px;">
                    <input type="submit" name="action" class="edit-course-btn" value="Edit Course Info">
                </span>
            </div>

            <div class="w3-row">
                <h3 style="font-weight: 500;">{{course.course_name}}</h3>
            </div>

            <!-- course basic info -->
            <div class="w3-row w3-section">
                <div class="w3-twothird">
                <div class="w3-margin-bottom">
                    <span class="w3-text-gray">Status</span>
                    <!-- course status -->
                    <span>
                        {% if course.is_active and not course.is_draft%}
                            <span class="w3-small" style="margin-left: 4px;background-color: #eef7ee;color: #428B46;padding: 6px 18px;border-radius: 25px;">Active</span>
                        {% elif not course.is_active and not course.is_draft%}
                            <span class="w3-small" style="margin-left:4px;background-color: #eeedf7;color: #4A47A3;padding: 6px 18px;border-radius: 25px;">Archived</span>
                        {% else %}
                            <span class="w3-small" style="margin-left: 4px;background-color: #fff0e5;color: #FF6701;padding: 6px 18px;border-radius: 25px;">
                                In Drafts
                            </span>
                        {% endif %}
                        <!-- course status -->
                    </span>
                </div>
                <!-- course basic info -->
                <div class="w3-margin-bottom">
                    <div class="w3-text-gray">Course Overview</div>
                    <div>{{course.course_overview}}</div>
                    <br>
                    <div class="w3-text-gray">Skills Required</div>
                    <div>{{course.course_skills}}</div>
                </div>
                </div>
                <div class="w3-third w3-row" style="padding-left: 24px;">
                    <div class="w3-half">
                        <div class="w3-margin-bottom">
                            <div class="w3-text-gray">Program</div>
                            <div>{{course.program}}</div>
                        </div>
                        <div class="w3-margin-bottom">
                            <div class="w3-text-gray">Difficulty</div>
                            <div>{{course.difficulty_level}}</div>
                        </div>
                        <div class="w3-margin-bottom">
                            <div class="w3-text-gray">Course Duration</div>
                            <div>{{course.course_duration}} <span class="w3-small">Hours</span></div>
                        </div>
                    </div>
                    <div class="w3-half" style="padding-left: 16px;">
                        <div class="w3-margin-bottom">
                            <div class="w3-text-gray">Course Price</div>
                            <div>₹ {{course.course_price}}</div>
                        </div>
                        <div class="w3-margin-bottom">
                            <div class="w3-text-gray">Course Sections</div>
                            <div>{{ course.sections | length }} <span class="w3-small">Sections</span></div>
                        </div>
                        <div class="w3-margin-bottom">
                            <div class="w3-text-gray">Total Enrollments</div>
                            <div>300 <span class="w3-small">Students</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="w3-row">
                <div class="w3-half">
                    {% include 'faculty/course/course-sections.html'%}
                </div>
                <!-- <div class="w3-half" style="padding-left: 24px;">
                    <h6 style="font-weight: 500;">Quizzes</h6>
                </div> -->
            </div>
    </div>
    </form>
</div>

{% block customjs %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>  
$(document).ready( function() {
    $('#flash').delay(3500).fadeOut();
  });
</script>
{% endblock %}

{% endblock %}